<!-- <div class="mainblock">
    <div class="subblock">
      <nav class="navbar" *ngIf="displayMenu">
          <ul class="navbar">
            <li class="navitem"><a routerLink="home" class="navlink" href="#">Home</a></li>
            <li class="navitem" *ngIf="displayManager"><a routerLink="listStaff" class="navlink" href="#">Staff</a></li>
            <li class="navitem" *ngIf="displayManager"><a routerLink="listproducts" class="nav-link" href="#">Food Products</a></li>
            <li class="navitem" *ngIf="displayManager"><a routerLink="listmenu" class="nav-link" href="#">Menu</a></li>
            <li class="navitem" *ngIf="displayStaff"><a routerLink="listorders" class="nav-link" href="#">Orders</a></li>
            <li class="navitem" *ngIf="displayStaff"><a routerLink="createOrder" class="nav-link" href="#">Create Order</a></li>
            <span title="Click here to logout"><li class="nav-item"><button class="btn btn-primary" (click)="logout()">Logout</button></li></span>
          </ul>
      </nav>
    </div>
  </div> -->

  <div id="abc">
    <nav *ngIf="displayMenu">
        <ul>
            <li><a routerLink="home" href="#">
              <i class="fa-solid fa-utensils fa-xl"></i>&nbsp; Tastify
            </a></li>
            <li *ngIf="displayManager"><a routerLink="listStaff" href="#">Staff</a></li>
            <li *ngIf="displayManager"><a routerLink="listproducts" href="#">Food Products</a></li>
            <li *ngIf="displayManager"><a routerLink="listmenu" href="#">Menu</a></li>
            <li *ngIf="displayStaff"><a routerLink="listorders" href="#">Orders</a></li>
            <li *ngIf="displayStaff"><a routerLink="createOrder" href="#">Create Order</a></li>
            <span title="Click here to logout"><li style="float: right;"><button (click)="logout()"><i class="fa-solid fa-right-from-bracket fa-xl"></i></button></li></span>
            <li style="float: right;"><a>{{name | titlecase}}</a></li>
        </ul>
    </nav>
</div>


